body {
    font-family: 'Arima', cursive;
    overflow-x: hidden;
  }
  
  .container {
    max-width: 975px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  
  button {
    cursor: pointer;
  }
.catalog__item:nth-child(3){
    display: none;
}
.catalog__item:nth-child(4){
    display: none;
}
.catalog__item:nth-child(5){
    display: none;
}